---
// Import components
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'

// Import styles
import '../styles/global.css'

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
)
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="content">
			<Header page={'blog'} />
			<main>
				<content>
					<ul class="list-none p-0 cursor-default">
						{
							posts.map((post) => (
								<li class="flex">
									<time class="flex-grow-0 flex-shrink-0 basis-32 flex- text-gray-600" datetime={post.frontmatter.pubDate}>
										{new Date(
											post.frontmatter.pubDate
										).toLocaleDateString('en-uk',{
											year: 'numeric',
											month: 'numeric',
											day: 'numeric',
										})}
									</time>
									<a class="text-link duration-300 hover:text-hlink" href={post.url}>
										{post.frontmatter.title}
									</a>
								</li>
							))
						}
					</ul>
				</content>
				<Footer />
			</main>
		</div>
	</body>
</html>
